---
import Icon from '../AstroIcon.astro';

export interface Props {
  id: string;
  title: string;
  subtitle: string;
}

const { id, title, subtitle } = Astro.props;
---

<script src='./popup.js'></script>

<div
  id={id}
  tabindex='-1'
  class='popup fixed top-0 right-0 left-0 z-999 hidden h-full items-center justify-center overflow-x-hidden overflow-y-auto bg-black/50'
>
  <div class='relative h-full w-full max-w-md p-4 md:h-auto'>
    <div class='popup-body relative rounded-lg bg-white shadow-sm'>
      <button
        type='button'
        class='popup-close absolute top-3 right-2.5 ml-auto inline-flex items-center rounded-lg bg-transparent p-1.5 text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900'
      >
        <Icon icon='close' />
        <span class='sr-only'>Close popup</span>
      </button>
      <div class='p-5'>
        <h3 class='mb-0.5 text-2xl font-medium'>
          {title}
        </h3>
        <p class='mb-4 text-sm font-normal text-gray-800'>
          {subtitle}
        </p>

        <slot />
      </div>
    </div>
  </div>
</div>
