---
import ResourceProgressStats from './ResourceProgressStats.astro';
export interface Props {
  bestPracticeId: string;
}
const { bestPracticeId } = Astro.props;
---

<div class='mt-4 mb-0 rounded-md border-0 sm:mt-7 sm:-mb-[65px] sm:border'>
  <ResourceProgressStats
    resourceId={bestPracticeId}
    resourceType='best-practice'
  />
</div>
