---
import Icon from './AstroIcon.astro';
---

<div class='flex w-full justify-center'>
  <Icon
    icon='spinner'
    class='h-6 w-6 animate-spin fill-blue-600 text-gray-200 sm:h-12 sm:w-12'
  />
</div>
