---
import AstroIcon from './AstroIcon.astro';
import Popup from './Popup/Popup.astro';
---

<Popup id='progress-help' title='' subtitle=''>
  <div class='-mt-2.5'>
    <p class='mb-3 text-2xl leading-5 font-semibold text-gray-900'>
      Track your Progress
    </p>
    <p class='text-sm leading-4 text-gray-600'>
      Login and use one of the options listed below.
    </p>

    <div class='mt-4 flex flex-col gap-1.5'>
      <div class='rounded-md border px-3 py-3 text-gray-500'>
        <span class='mb-1.5 block text-xs font-medium text-green-600 uppercase'
          >Option 1</span
        >
        <p class='text-sm'>
          Click the roadmap topics and use <span class='underline'
            >Update Progress</span
          > dropdown to update your progress.
        </p>
      </div>

      <div
        class='rounded-md border border-yellow-300 bg-yellow-50 px-3 py-3 text-gray-500'
      >
        <span class='mb-1.5 block text-xs font-medium text-green-600 uppercase'
          >Option 2</span
        >
        <p class='text-sm'>Use the keyboard shortcuts listed below.</p>

        <ul class='mt-3 mb-1.5 flex flex-col gap-1'>
          <li class='text-sm leading-loose'>
            <kbd class='rounded-md bg-gray-900 px-2 py-1.5 text-xs text-white'
              >Right Mouse Click</kbd
            > to mark as Done.
          </li>
          <li class='text-sm leading-loose'>
            <kbd class='rounded-md bg-gray-900 px-2 py-1.5 text-xs text-white'
              >Shift</kbd
            > + <kbd
              class='rounded-md bg-gray-900 px-2 py-1.5 text-xs text-white'
              >Click</kbd
            > to mark as in progress.
          </li>
          <li class='text-sm leading-loose'>
            <kbd class='rounded-md bg-gray-900 px-2 py-1.5 text-xs text-white'
              >Option / Alt</kbd
            > + <kbd
              class='rounded-md bg-gray-900 px-2 py-1.5 text-xs text-white'
              >Click</kbd
            > to mark as skipped.
          </li>
        </ul>
      </div>
    </div>
  </div>
</Popup>
