---
import { Debug } from 'astro/components';
import { markdownToHtml } from '../lib/markdown';

export interface Props {
  text: string;
}

const { text } = Astro.props;
---

<div class='bg-gray-50'>
  <div class='container pt-1'>
    <p
      class='relative z-10 mt-2 mb-0 rounded-md bg-yellow-100 p-2 text-sm text-yellow-900 sm:mt-5 sm:-mb-6 [&>a]:underline'
      set:html={markdownToHtml(text.trim())}
    />
  </div>
</div>
