---
import type { RoadmapFrontmatter } from '../lib/roadmap';

export interface Props {
  roadmapId: string;
  roadmap: RoadmapFrontmatter;
}

const { roadmap, roadmapId } = Astro.props;
---

<a
  href={`/${roadmapId}`}
  class='sm:text-md flex items-center justify-center border-b bg-yellow-100 py-2 text-sm text-yellow-900 hover:bg-yellow-200 sm:py-3'
>
  <span class='container'>
    <span class='hidden sm:inline'
      >Click to visit the interactive version of</span
    >
    <span class='inline sm:hidden'>Visit complete</span>

    <span class='ml-0.5 font-medium underline underline-offset-1 sm:lowercase'
      >{roadmap.briefTitle} roadmap</span
    >
  </span>
</a>
