---
import type { VideoFileType } from '../lib/video';
import YouTubeAlert from './YouTubeAlert.astro';

export interface Props {
  video: VideoFileType;
}

const { video } = Astro.props;
const { frontmatter, author } = video;
---

<div class='border-b bg-white py-5 sm:py-12'>
  <div class='container text-left sm:text-center'>
    <h1 class='my-0 text-2xl font-bold sm:my-3.5 sm:text-5xl'>
      {frontmatter.title}
    </h1>
    <p class='text-md hidden text-slate-400 sm:block'>
      {frontmatter.description}
    </p>
  </div>

</div>
