<a
  href='https://youtube.com/theroadmap?sub_confirmation=1'
  target='_blank'
  class='text-md group hidden items-center text-red-600 hover:text-red-900 sm:flex'
>
  <span
    class='group-hover: mr-2 rounded-xs bg-red-600 px-1.5 py-0.5 text-xs font-medium text-white uppercase group-hover:bg-red-800'
    >New</span
  >
  <span class='mr-1 underline'
    >We also have a YouTube channel with visual content</span
  >
  <span>&raquo;</span>
</a>
